exportClasses(DataAnnotationTrack)

exportMethods (
   ping,
   setGenome,
   getGenomicRegion,
   showGenomicRegion,
   displayTrack
   )

export(
   DataAnnotationTrack,
   IGV
   )

importClassesFrom(methods, character, integer)
importFrom(methods, new)

import(BrowserViz)
import(BiocGenerics)
import(httpuv)
import(jsonlite)
import(Rcpp)
