exportClasses(AnnotationTrack,
              UCSCBedAnnotationTrack,
              DataFrameAnnotationTrack,
              VariantTrack,
              QuantitativeTrack,
              DataFrameQuantitativeTrack,
              UCSCBedGraphQuantitativeTrack,
              GRangesQuantitativeTrack)

exportMethods (
   ping,
   setGenome,
   getGenomicRegion,
   showGenomicRegion,
   displayTrack,
   size,
   getInfo,
   getTrackNames,
   removeTracksByName
   )

export(
   AnnotationTrack,
   UCSCBedAnnotationTrack,
   DataFrameAnnotationTrack,
   VariantTrack,
   QuantitativeTrack,
   DataFrameQuantitativeTrack,
   UCSCBedGraphQuantitativeTrack,
   GRangesQuantitativeTrack,
   IGV
   )

importClassesFrom(methods, character, integer)
importFrom(methods, new)

import(BrowserViz)
import(BiocGenerics)
import(httpuv)
import(jsonlite)
import(Rcpp)
