#trenaVizDiv {
   height: 80px;
   width: 100%;
   border: 1px solid #aaa;
   border-radius: 5px;
   overflow-x: scroll;
   overflow-y: scroll;
  }

#cyOuterDiv{
  margin: 2px;
  padding: 0px;
  border: 1px solid #aaa;
  border-radius: 5px;

  }

#cyMenubarDiv{
  margin: 2px;
  border: 1px solid #aaa;
  border-radius: 5px;
  }

#cyDiv{
  background-color: #F8F8F8;
  margin: 2px;
  border: 1px solid #aaa;
  border-radius: 5px;
  }

.cyMenuButton{
  margin-left: 6px;
  margin-bottom: 6px;
  margin-top: 8px;
  background-color: #E8E8E8;
  }

#igvOuterDiv{
   margin: 10px;
   border-style: solid;
   border-width: 1px;
   border-color: #AAA;
   border-radius: 5px;
   overflow-x: scroll;
   overflow-y: scroll;
   height: 80%;
   }

#igvDiv{
  padding-top: 10px;
  padding-bottom: 10px;
  height: 2000px;
  }


